* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}





section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;

}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    clip-path: circle(70% at right -20%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3.5%;
    margin-left: -3%;
}

header .logo {
    position: relative;
    min-width: 150px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #04181A;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}


.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2 {
    color: #1A96A0;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p {
    color: #04181A;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #1A96A0;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.sci {
    margin-top: 30px;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #1A96A0;
    transform: translateY(-10px);
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}

/*****slider*****/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 150px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}




@media (max-width: 991px) {
    header {
        padding: 40px;
    }

    section {
        padding: 150px 40px;

    }

    section .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FDFBFA;
        clip-path: circle(70% at right -20%);
    }



    .sci {
        display: flex;
        justify-content: center;


    }

    .content {
        flex-direction: column;
    }

    .content .textBox,
    .content .imgBox {
        max-width: 100%;
    }

    .content .imgBox {

        width: 634px;
        display: flex;
        justify-content: flex-end;
    }

    .content .imgBox img {
        max-width: 102px;
    }

    .swiper-slide {

        height: 300px;

    }

    .swiper-slide img {

        bottom: -47px;
    }




    header {
        margin-top: -12%;
    }

    header .navigation {
        display: none;
    }


    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #04181A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    header .navigation li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    header .navigation li a {
        color: #1A96A0;
    }

    header .navigation li a:hover {
        color: #FDFBFA;
    }

    .toggle {
        position: relative;
        width: 70px;
        height: 30px;
        background: url(https://openclipart.org/image/2000px/221605);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
        color: #222;
    }

    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(https://www.clipartmax.com/png/full/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }



}









header .navigation li a {
    color: #04181A;
}

header .navigation li a:hover {
    color: #1A96A0;
    transition: .3s;
}






@media only screen and (max-width: 768px) {



    .title {
        font-size: 25px;
    }

    .Description-title {

        margin-top: 7%;

    }


    header .navigation li a {
        color: #FDFBFA;
    }

    header .navigation li a:hover {
        color: #1A96A0;
    }

    header .navigation li a::before {
        background: #1A96A0;
    }


    .login:before {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: -50%;
        background: #1A96A0;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .login:after {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: 100%;
        background: #1A96A0;
        transition: all 0.5s ease;
        z-index: -1;
    }

}

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #1A96A0;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}




.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDFBFA;
}

.hidden {
    overflow: hidden;
}



.title {
    text-align: center;
    margin-top: 8%;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #1A96A0;
}

.Description-title {
    text-align: center;
    margin-top: 3%;

}



@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
    }

    .cart-container {
        max-width: 100%;
        padding: 10px;

    }

    .title {
        font-size: 25px;
    }
}


.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #1A96A0;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #1A96A0, #04181A);
    margin-bottom: 5.25rem;
    border-radius: 15px;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    border-radius: 0 0 20px 20px;


}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}



.seccion-perfil-usuario .perfil-usuario-avatar {
    background-size: cover;
    background-position: center;
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;

}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}
.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #1A96A0;
}


.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos strong {
    color: #1A96A0;
}



.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;

}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}



@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
}
#editdescription{
    border: 0;
    background-color: #1A96A0;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    margin-top: 20px;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 6%;

}
.inputchangedescription{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
#swal-imput2{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


