* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1A96A0;
  font-family: 'Roboto', sans-serif;
}

p {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px; /* Reduce el tamaño del título */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #04181A;
  font-size: 14px; /* Reduce el tamaño de fuente del campo de entrada */
}

input[type="submit"] {
  background-color: #1A96A0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #04181A;
  transition: .3s;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  input[type="submit"] {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
  }
}
