* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
 

 


  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: #FDFBFA;
  }

  section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FDFBFA;
    clip-path: circle(70% at right -20%);
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3.5%;
    margin-left: -3%;
  }

  header .logo {
    position: relative;
    min-width: 150px;
  }

  header .navigation {
    position: relative;
    display: flex;
  }

  header .navigation li {
    list-style: none;
  }

  header .navigation li a {
    display: inline-block;
    color: #04181A;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
  }


  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
  }

  .content .textBox h2 {
    color: #1A96A0;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
  }

  .content .textBox p {
    color:#04181A;
  }

  .content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #1A96A0;
    color: #FDFBFA;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .sci {
    margin-top: 30px;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sci li {
    list-style: none;
  }

  .sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }

  .sci li a:hover {
    background: #1A96A0;
    transform: translateY(-10px);
  }

  .sci li a img {
    filter: invert(1);
    transform: scale(0.5);
  }

  /*****slider*****/
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
  }

  .content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
  }

  .content .imgBox img {
    max-width: 150px;
  }

  .swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
  }

  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }




  @media (max-width: 991px) {
    header {
      padding: 40px;
    }

    section {
      padding: 150px 40px;
      
    }
    section .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FDFBFA;
        clip-path: circle(70% at right -20%);
      }
  


    .sci {
      display: flex;
    justify-content: center;
 

    }

    .content {
      flex-direction: column;
    }

    .content .textBox,
    .content .imgBox {
      max-width: 100%;
    }
    .content .imgBox {

    width: 634px;
    display: flex;
    justify-content: flex-end;
  }

    .content .imgBox img {
    max-width: 102px;
  }
    .swiper-slide {

      height: 300px;

    }
    .swiper-slide img {

    bottom: -47px;
    }




header{
  margin-top: -12%;
}
    header .navigation {
      display: none;
    }

    
    header .navigation.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #04181A;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    header .navigation li a {
      margin: 10px 0;
      font-size: 1.5em;
      font-weight: 300;
    }
    header .navigation li a{
      color: #1A96A0;
    }
    header .navigation li a:hover{
      color: #FDFBFA;
    }

    .toggle {
      position: relative;
      width: 70px;
      height: 30px;
      background: url(https://openclipart.org/image/2000px/221605);
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      z-index: 10000;
      color: #222;
    }

    .toggle.active {
      position: fixed;
      right: 40px;
      background: url(https://www.clipartmax.com/png/full/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png);
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
    }


    .login {
        margin-top: 4%;
     
      }
    
      .link::before{
        content: "";
        width: 0;
        height: 4px;
        position: absolute;
        bottom: 0;
        transition: all .50s;
        background-color: #04181A;


  }
}






a .login {
  width: 150%;
  height: 45px;
  background: #ffffff0d;
  border-radius: 8px;
  border: 2px solid #1A96A0;
  font-size: 15px;
  font-weight: bold;
  color: #1A96A0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
  z-index: 1;
 margin-right: -4%;
 margin-left: 10%;
 text-align: center;
margin: 0 auto;
font-size: 12px;
margin-top: -12%;
}

.login:before {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: -50%;
  background: #1A96A0;
  transition: all 0.5s ease;
  z-index: -1;
}

.login:after {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: 100%;
  background: #1A96A0;
  transition: all 0.5s ease;
  z-index: -1;
}

.login:hover {
  color:#FDFBFA;
  cursor: pointer;
}

.login:hover:before {
  top: 0;
  left: 0;
}

.login:hover:after {
  top: 0;
  left: 50%;
}


header .navigation li a{
      color: #04181A;
    }
    header .navigation li a:hover{
      color: #1A96A0;
      transition: .3s;
    }



  @media only screen and (max-width: 768px) {
      .navigation.active .login{
        margin-top: 5%;
        text-align: center;
        margin-left: -1%;
        border: 2px solid #FDFBFA;
        color: #FDFBFA;
        width: 100%;
      }
      header .navigation li a{
        color: #FDFBFA;
      }
      header .navigation li a:hover{
        color: #1A96A0;
      }
      header .navigation li a::before{
        background: #1A96A0;
      }


      .login:before {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: -50%;
        background: #1A96A0;
        transition: all 0.5s ease;
        z-index: -1;
      }
      
      .login:after {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: 100%;
        background: #1A96A0;
        transition: all 0.5s ease;
        z-index: -1;
      }

      .container{
        flex-direction: column;
      }

      .About{
        font-size: 25px;
        margin-top: 200000px;
    }
   .company{
    flex-direction: column;
   }
   .history .text3{
    width: 80%;
   }

   .title-history{
    margin-top: 20%;
   }

   .description-history{
    font-size: 1px;
   }
    
   .mision, .vision{
    width: 80%;
   }

   .team1{
    flex-direction: column;
   }

   .johan1, .maria1, .esteban1{
    width: 100%;
   }
   .johan, .maria, .esteban{
    width: 200px;
    text-align: center;
    font-size: 10px;
   }
   .social a i{
    font-size: 10px;
    
  }
      
  }

  .About{
    text-align: center;
    margin-top: 12.5%;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    color: #1A96A0;
  }

  .team{
      text-align: center;
      margin-top: 5%;
    
      font-family:'Roboto', sans-serif;
      font-size: 45px;
      color: #1A96A0;
    
  }

  .container{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    padding: 15%;
    justify-content: center;
    background-color: #1A96A0;
    margin-top: 5%;
   
  }
  .text-description{
    color: #FDFBFA;
  }

.text{
  margin-top: -15%;
    width: 35%;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    text-align: justify;
    margin: 8%;
    
   
}

h2{ 
  color: #FDFBFA;
  font-size: 60px;
  text-align: center;
}

.img1{
  width: 35%;
  border-radius: 5px;
}
  
.Description-title{
  text-align: center;
  margin-top: 3%;

}

.team1{
  width: 100%;
  height: 500%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}


.maria, .johan, .esteban{
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  h4{
    color: #1A96A0;
    font-size: 20px;
    margin-top: 3%;
  }
.social{
  display: flex;
}

.johan1, .esteban1, .maria1{
  box-shadow: 5px 5px 5px rgb(141, 141, 141);
  border-radius: 5px;
}
 

  .social a i{
    color: #04181A;
    font-size: 30px;
    margin: 20px;
  }
  .social a i:hover{
    color: #1A96A0;
    transition: .3s;
   
  }

  .company{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A96A0;
    margin-top: 5%;
  }

  .mision, .vision{
    background-color: #FDFBFA;
    border-radius: 10px;
    height: 300px;
    padding: 2%;
    text-align: justify;
    margin: 5%;
    width: 30%
  }

  .title-mision, .title-vision{
  color: #1A96A0;
  font-size: 60px;
  text-align: center;
  }

  .description-mision, .description-vision{
    margin-top: 5%;
    color: #04181A;
  }

  .history{
    width: 100%;
    height: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .text3{
    width: 45%;
    text-align: center;

  }

  .title-history{
    text-align: center;
      margin-top: 5%;
      font-family:'Roboto', sans-serif;
      font-size: 45px;
      color: #1A96A0;
  }
  .description-history{
    margin-top: 5%;
    font-size: 22px;
  }

